<section id="accueil" class="hero-section">
<div class="hero-photos">
    <img src="{{ asset('images/background2.jpg') }}" alt="Photo 1">
    <img src="{{ asset('images/background1.jpg') }}" alt="Photo 2">
    <img src="{{ asset('images/background3.jpg') }}" alt="Photo 3">

    <span class="separator sep1"></span>
    <span class="separator sep2"></span>
</div>

	<div class="hero-content">
		<h1 class="club-title">CLUB HALTÉROPHILIE & MUSCULATION</h1>
		<p class="club-subtitle">Relevez vos limites et dépassez-vous chaque jour !</p>

		<div class="hero-inner">
			<div class="hero-line" id="adherents-counter">
				+ 0
				<span class="thin-text">ADHÉRENTS</span>
			</div>
			<div class="hero-line">
				+ 30
				<span class="thin-text">COMPÉTITIONS</span>
			</div>
		</div>

		<div class="hero-buttons">
			<a href="#plus" class="nous-rejoindre js-open-register-modal">NOUS REJOINDRE</a>
			<a href="{{ path('app_club') }}" class="btn-en-savoir-plus">DÉCOUVRIR LE CLUB</a>
			</div>

		<div class="ffhm-container">
			<img src="{{ asset('images/ffhm.png') }}" alt="Logo FFHM" class="ffhm-logo">
		</div>
	</div>
</section>


 <script src="js/accueil/section1/section1.js"></script>
