{# navigation.html.twig #}
{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('css/accueil/nav/nav.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">

{% endblock %}

{% block body %}
	<nav class="nav-fixed">
		<div class="info-banner">
			🏋️‍♂️ Circuit training exceptionnel le jeudi 25 septembre de 18h à 19h ! Venez nombreux !
		</div>
		<div
			class="nav-content">
			<!-- Logo -->
			<div class="nav-logo">
				<div class="logo-rectangle">
					<img src="{{ asset('images/logo-chm-saleux.png') }}" alt="CHM Saleux"/>
				</div>
			</div>

			<!-- Liens -->
			<div class="nav-links-left">
				<a href="{{ path('home') }}" class="nav-link">ACCUEIL</a>
				<div class="dropdown">
					<a href="#" class="nav-link dropdown-toggle">LE CLUB</a>
					<div class="dropdown-menu">
						<a href="{{ path('comite') }}" class="dropdown-item">Comité Directeur et Bureau</a>
						<a href="{{ path('encadrants') }}" class="dropdown-item">L’équipe encadrante haltéro et musculation</a>
					</div>
				</div>
				<div class="dropdown">
					<a href="#halterophilie" class="nav-link dropdown-toggle">HALTEROPHILIE</a>
					<div class="dropdown-menu">
						<a href="{{ path('halterophilie') }}" class="dropdown-item">Définitions</a>
						<a href="{{ path('ecole') }}" class="dropdown-item">École d'haltérophilie</a>
						<a href="#" class="dropdown-item">Les athlètes</a>
					</div>
				</div>
				<div class="dropdown">
					<a href="#" class="nav-link dropdown-toggle">COMPETITIONS</a>
					<div class="dropdown-menu">
						<a href="#resultats" class="dropdown-item">Résultats</a>
						<a href="#photos" class="dropdown-item">Photos</a>
					</div>
				</div>
				<a href="#footer" class="nav-link">CONTACT</a>
			</div>

			<!-- Bouton + icônes -->
			<div class="nav-links-right">
				<a href="#" class="btn-connexion">Connexion</a>
				<div class="divider"></div>
				<div class="social-links">
					<a href="https://instagram.com/chmsaleux" target="_blank">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="https://facebook.com/chmsaleux1" target="_blank">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a href="#" target="_blank">
						<i class="fa-brands fa-tiktok"></i>
					</a>
					<a href="https://youtube.com/@chmsaleux4431" target="_blank">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</div>
			</div>
		</div>

		<!-- Mobile menu -->
		<div id="mobile-menu" class="nav-mobile">
			<a href="{{ path('home') }}" class="nav-mobile-link">Accueil</a>
			<a href="{{ path('comite') }}" class="nav-mobile-link">Le Club - Comité</a>
			<a href="{{ path('encadrants') }}" class="nav-mobile-link">Le Club - Encadrants</a>
			<a href="{{ path('halterophilie') }}" class="nav-mobile-link">École d'haltérophilie</a>
			<a href="#competitions" class="nav-mobile-link">Compétitions</a>
			<a href="#footer" class="nav-mobile-link">Contact</a>
		</div>
	</nav>

	 <script>
						    const mobileBtn = document.getElementById('mobile-menu-btn');
						    const mobileMenu = document.getElementById('mobile-menu');
						
						    mobileBtn.addEventListener('click', () => {
						        mobileMenu.classList.toggle('show');
						    });
						</script>
{% endblock %}
