<section class="ambassador-section">
	<div class="container">
		<h2 class="section-title">
			DÉCOUVREZ NOS DEUX
			<span>PRATIQUES
			</span>
		</h2>
	</div>
</section>

<!-- SLIDER -->
<div class="ambassador-slider">
	<div class="ambassador-card active">
		<div class="img-wrapper">
			<img src="{{ asset('images/1.jpg') }}" alt="">
			<div class="section-label">HALTÉROPHILIE</div>
		</div>
		<div class="button-wrap">
    <a href="{{ path('section_halterophilie') }}" class="btn-club">
        <span>DÉCOUVRIR LA ZONE</span>
    </a>
    <div class="button-shadow"></div>
</div>

		
		<button class="slider-prev">
			<img src="{{ asset('images/arrow-left.png') }}" alt="Précédent">
		</button>
		<button class="slider-next">
			<img src="{{ asset('images/arrow-right.png') }}" alt="Suivant">
		</button>
	</div>

	<div class="ambassador-card">
		<div class="img-wrapper">
			<img src="{{ asset('images/histoire-club.jpg') }}" alt="">
			<div class="section-label">MUSCULATION</div>
		</div>
		<div class="button-wrap">
    <a href="{{ path('section_musculation') }}" class="btn-club">
        <span>DÉCOUVRIR LA ZONE</span>
    </a>
    <div class="button-shadow"></div>
</div>

		
		<button class="slider-prev">
			<img src="{{ asset('images/arrow-left.png') }}" alt="Précédent">
		</button>
		<button class="slider-next">
			<img src="{{ asset('images/arrow-right.png') }}" alt="Suivant">
		</button>
	</div>

</div></div></div><div class="slider-dots"><div class="slider-dot"></div><div class="slider-dot"></div></div><section class="new-section sauna-section"><div class="container">
<h2 class="section-title2">
	DÉCOUVREZ NOTRE SAUNA
</h2>
<div
	class="sauna-content">
	<!-- Image du sauna -->
	<div class="sauna-image">
		<img src="{{ asset('images/sauna.jpg') }}" alt="Sauna"/>
	</div>
	<!-- Texte descriptif -->
	<div class="sauna-text">
		<p>
			Notre sauna offre un espace de détente idéal après vos séances de sport. 
																																																															                    Profitez de la chaleur pour relâcher les tensions, revitaliser votre corps et améliorer votre bien-être général.
		</p>
	</div>
</div></div></section>{% block javascripts %} <script src="{{ asset('js/accueil/section7/section7.js') }}"></script>{% endblock %}
